* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.top_header {
  background: #222222;
  height: 75px;
  display: flex;
  justify-content: space-between;
}
.top_header .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top_header li {
  list-style-type: none;
}
.top_header .top_header_left {
  display: flex;
}
.top_header .search {
  padding-top: 28px;
  margin-left: 41px;
}
.top_header .logo {
  padding-top: 18px;
}
.top_header .top_header_right {
  display: flex;
  padding-top: 26px;
}
.top_header .top_header_right .prs {
  margin-left: 33px;
  margin-right: 33px;
}

.main {
  background: #F1E4E6;
  height: 764px;
  display: flex;
  justify-content: space-around;
}
.main .banner {
  background-image: url("images/back.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: -175px;
  width: 100%;
}
.main .main_info {
  align-self: center;
  display: flex;
  width: 50%;
  float: right;
  margin-top: 300px;
}
.main .main_info .info_text {
  margin-left: 15px;
  align-self: center;
}
.main_info_pic {
  align-self: center;
}

.middle {
  margin: 65px auto 0;
  display: flex;
  flex-direction: column;
  max-width: 180px;
}
.middle .middle_top {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.middle .middle_bottom {
  display: flex;
  justify-content: center;
}
.middle .img_middle {
  margin-right: 30px;
}
.middle .img_middle_left {
  margin-right: 30px;
}

.products_heading {
  margin-top: 91px;
  text-align: center;
}
.products_heading .featured {
  text-align: center;
  margin-bottom: 41px;
}
.products_heading .featured h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.products_heading .featured .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.card_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.card_box .product_card {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  height: 581px;
  width: 360px;
  margin-bottom: 30px;
  position: relative;
}
.card_box .text_cards {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-left: 18px;
  padding-right: 25px;
}
.card_box .pad {
  margin-right: 30px;
}
.card_box .price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
  margin-left: 18px;
  color: #F16D7F;
}
.card_box .pages {
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  margin-top: 36px;
}
.card_box .pages .arrow_rotated {
  transform: rotate(180deg);
  padding: 15px;
}
.card_box .pages .arrow_pages {
  padding: 15px 17px 16px 15px;
}
.card_box .pages .pages_numbers {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  padding-left: 10px;
  text-decoration: none;
}
.card_box .pages .pages_numbers:hover {
  color: #F16D7F;
  font-size: 20px;
}
.card_box .pages .dots {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  text-decoration: none;
}

.card_a {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 12px;
  padding-top: 25px;
  padding-left: 18px;
  text-decoration: none;
}

.card_a:hover {
  color: #F16D7F;
}

.button {
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 35px;
}

.button_pink {
  margin: 0 auto;
  text-align: center;
  height: 45px;
  width: 211px;
  margin-top: 48px;
}

.button:hover {
  background-color: #F26376;
  color: white;
}

.bonus {
  background: #222224;
  height: 341px;
  margin-top: 95px;
}
.bonus .sale {
  display: flex;
}
.bonus .delivery {
  text-align: center;
  margin-top: 104px;
  margin-right: 30px;
}
.bonus .sales {
  text-align: center;
  margin-top: 104px;
  margin-right: 30px;
}
.bonus .quality {
  text-align: center;
  margin-top: 104px;
}
.bonus .heading_bonus {
  margin-top: 19px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.bonus .text_bonus {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 25px;
}

.review_subscribe {
  height: 448px;
  height: 448px;
  background-image: url("images/subscribe.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}
.review_subscribe .footer_banner {
  display: flex;
  justify-content: space-around;
  height: 448px;
}
.review_subscribe .footer_banner .middle_footer_banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.review_subscribe .footer_banner .pic_footer {
  margin-bottom: 25px;
}
.review_subscribe .footer_banner .text_pic_footer {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.review_subscribe .footer_banner .review_card {
  text-align: center;
  padding-top: 130px;
  margin-bottom: 126px;
  width: 360px;
}
.review_subscribe .footer_banner .subscribe {
  align-self: center;
  margin-right: 90px;
}
.review_subscribe .footer_banner .subscribe .footer_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.review_subscribe .footer_banner .subscribe .footer_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}
.review_subscribe .footer_banner .subscribe .form {
  display: flex;
  align-self: center;
}
.review_subscribe .footer_banner .subscribe .form .text_email {
  width: 256px;
  height: 49px;
  border-radius: 20px 0 0 20px;
  background: #E1E1E1;
  border: #E1E1E1;
  padding-left: 15px;
}
.review_subscribe .footer_banner .subscribe .form .link_subscribe {
  background-color: #f16d7f;
  width: 100px;
  padding: 18px 5px 14px 17px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.link_footer_subscribe {
  text-decoration: none;
}

.footer {
  background: #222224;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  height: 80px;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
}
.footer .bottom .reserved {
  align-self: center;
}
.footer .bottom .reserved_pic {
  display: flex;
  list-style-type: none;
  align-self: center;
}
.footer .bottom .reserved_pic .pic_res {
  padding-right: 20px;
}

.menu {
  position: absolute;
  background: #FFFFFF;
  width: 232px;
  display: none;
  flex-direction: column;
  box-shadow: #222222;
  margin-top: 23px;
  z-index: 10000;
}
.menu .cross {
  width: 12.01px;
  height: 12.01px;
  position: absolute;
  right: 17px;
  padding-top: 16px;
}
.menu .menu_heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 34px;
  padding-bottom: 24px;
  padding-top: 37px;
}
.menu .menu_heading_mini {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
  padding-left: 33px;
  text-decoration: none;
}
.menu .menu_heading_mini:hover {
  font-size: 19px;
}
.menu .menu_link {
  padding-left: 55px;
  padding-bottom: 11px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
}
.menu .menu_link:hover {
  color: #F16D7F;
}

.middle_footer_banner {
  margin: 0 auto;
}

.menu_list:hover .menu {
  display: flex;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: 1s;
}

.cross:hover .menu {
  display: none;
}

.card_img:hover {
  filter: greyscale(86%);
}

.pink_fon {
  background: #F8F3F4;
  max-height: 148px;
}
.pink_fon .top_main_product {
  height: 148px;
  display: flex;
  justify-content: space-between;
}
.pink_fon .top_banner_top {
  padding-top: 59px;
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  padding-bottom: 60px;
}
.pink_fon .top_banner_top .reg_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 59px;
}

.top_banner_bottom {
  background: #F7F7F7;
  height: 777px;
  z-index: 0;
}
.top_banner_bottom .banner_top {
  background-image: url("images/Woman.png");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  position: relative;
}
.top_banner_bottom .banner_top .arrow_left {
  position: absolute;
  bottom: 50%;
}
.top_banner_bottom .banner_top .arrow_right {
  position: absolute;
  bottom: 50%;
  transform: rotate(180deg);
  left: 1093px;
}

.middle {
  align-items: center;
}
.middle .middle_z {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  height: 601px;
  z-index: 1;
  position: absolute;
  width: 1140px;
  top: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle .middle_z .pink_heading_middle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F16D7F;
  margin-top: 64px;
}
.middle .middle_z .img_pink_middlez {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.middle .middle_z .heading_middle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-top: 12px;
}
.middle .middle_z .buttom_middle {
  border: 1px solid #F16D7F;
  align-items: center;
  height: 47px;
  margin-top: 49px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.middle .middle_z .buttom_middle .buttom_middle_img {
  padding-right: 22px;
  padding-left: 23px;
  padding-right: 22px;
}
.middle .middle_z .buttom_middle .buttom_middle_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-right: 56px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.middle .middle_z .buttom_middle:hover {
  background-color: #F16D7F;
  color: white;
}
.middle .middle_z .buttom_middle:hover .buttom_middle_img {
  filter: brightness(0) invert(1);
}
.middle .middle_z .buttom_middle:hover .buttom_middle_text {
  color: white;
}
.middle .text_middle_z {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 49px;
  color: #5E5E5E;
  height: 55px;
  width: 555px;
}
.middle .price_middlez {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;
  color: #EF5B70;
}
.middle .line_middlez {
  width: 641px;
  border: 1px solid #EAEAEA;
  margin-top: 65px;
}
.middle .chooze {
  width: 450px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 65px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.middle .chooze .p_chooze {
  padding-right: 9px;
}
.middle .chooze .li_chooze {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.middle .chooze .li_chooze:last-child {
  margin: 0;
}

.cards_products {
  margin-top: 664px;
}

.top_banner_top_reg {
  display: block;
  justify-content: left;
  padding-top: 59px;
  padding-bottom: 60px;
}
.top_banner_top_reg .reg_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.regist_middle {
  width: 100%;
  display: flex;
}
.regist_middle .regist_middle_left {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.regist_middle .regist_middle_left .text_yourname {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 33px;
  margin-bottom: 20px;
}
.regist_middle .regist_middle_left .sex {
  display: flex;
  justify-content: left;
  list-style-type: none;
}
.regist_middle .regist_middle_left .text_form_reg {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.regist_middle .regist_middle_right {
  padding-left: 128px;
  padding-top: 64px;
}
.regist_middle .regist_middle_right .heading_middle_right {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 22px;
}
.regist_middle .regist_middle_right .text_middle_right {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 21px;
  color: #000000;
}
.regist_middle .regist_middle_right .middle_list {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  list-style-type: none;
  color: #000000;
}
.regist_middle .regist_middle_right .middle_list_string {
  padding-bottom: 16px;
  display: flex;
}
.regist_middle .regist_middle_right .text_middle_list {
  padding-left: 20px;
}

.input_text {
  max-width: 360px;
  border: 1px solid #A4A4A4;
  height: 44px;
  margin-bottom: 21px;
  padding-left: 20px;
}

.name {
  margin-bottom: 20px;
}

.input_text {
  margin-right: 7px;
  margin-left: 10px;
}

.li_radio {
  margin-left: 10px;
}

.a_text_product {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  list-style-type: none;
}

.a_pink_text_product {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
  color: #F16D7F;
}

.button_pink_reg {
  text-align: center;
  height: 45px;
  max-width: 167px;
  margin-top: 48px;
  margin-bottom: 96px;
}
.button_pink_reg .button_reg {
  border: 1px solid #FF6A6A;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #EF5B70;
  color: white;
  padding: 14px 30px 14px 29px;
}
.button_pink_reg .text_reg_button {
  padding-left: 20px;
}

.button_reg:hover {
  background-color: white;
  color: #EF5B70;
}

.filter:hover .card_img {
  filter: brightness(0.5);
}

.card_img {
  position: relative;
}

.card_img_cart {
  position: absolute;
}

.filter_size {
  margin-top: 51px;
  display: flex;
}
.filter_size .filter {
  display: flex;
}

.img_filter {
  padding-left: 5px;
  max-height: 10px;
  padding-top: 3px;
}

.size {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: flex;
  margin: 0 auto;
  padding-right: 128px;
  justify-content: center;
}
.size .price {
  padding-left: 28px;
}
.size .size_size {
  position: relative;
  padding-left: 28px;
  padding-bottom: 7px;
}
.size .size_size .list_size_check:last-child {
  padding-bottom: 15px;
}
.size .img_size {
  padding-left: 10px;
}

.li_filter .pad {
  padding-top: 0;
}

.cards_catalog {
  margin-top: 74px;
  z-index: 0;
  position: relative;
}

.list_size {
  z-index: 1;
  list-style-type: none;
  z-index: 4;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  padding-left: 10px;
  visibility: hidden;
}
.list_size .list_size_check {
  margin-top: 10px;
  margin-left: 9, 5px;
}
.list_size .list_size_check input {
  margin-right: 9.5px;
}

.size_size:hover .list_size {
  visibility: visible;
}

.cart_card_img {
  position: relative;
}

.cart_card {
  border: 1px solid white;
  top: 177px;
  right: 113px;
  position: absolute;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  visibility: hidden;
  z-index: 100;
}

.img_cart_card {
  padding: 10px 11px 8px 13px;
}

.text_card_cart {
  align-self: center;
  padding-right: 12px;
}

.cart_card_img:hover .cart_card {
  visibility: visible;
  z-index: 100;
}

.filter_menu {
  display: flex;
  z-index: 100;
  position: absolute;
  background-color: white;
}

details[open] .filter_button {
  color: #EF5B70;
}

details summary::-webkit-details-marker {
  display: none;
}

.filter_menu > details[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

summary[open] .summary .designer {
  margin-bottom: 0;
}

.summary {
  border-left: 5px solid #EF5B70;
  width: 322px;
  height: 37px;
  margin-top: 24px;
  border-bottom: 1px solid #EBEBEB;
  padding-top: 11px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 11px;
  color: #EF5B70;
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  transition: color 0.5s, padding 0.5s;
}

details > summary {
  list-style: none;
}

.li_filter {
  padding-bottom: 11px;
  padding-left: 16px;
  list-style-type: none;
}
.li_filter .li_filter_a {
  text-decoration: none;
  color: #6F6E6E;
  transition: 0.5s;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.li_filter_a:hover {
  color: #EF5B70;
  font-weight: 600;
}

.li_filter:last-child {
  padding-bottom: 0;
}

.filter_box {
  padding-top: 24px;
}

.filter_box_designer {
  padding-top: 0;
}

.summary {
  margin-left: 18px;
  margin-right: 7px;
}

.designer {
  margin-bottom: 20px;
}

.cart_product {
  display: flex;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  max-width: 651px;
}
.cart_product .product_cart_side {
  margin-left: 31px;
  width: 306px;
}
.cart_product .product_cart_side .heading_product_cart {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
  margin-top: 22px;
}
.cart_product .product_cart_side input {
  width: 25px;
  padding-left: 6px;
  margin: 0;
  height: 20px;
}

.cart_left .cart_product:first-child {
  margin-bottom: 40px;
}
.cart_left .cart_left_buttons {
  display: flex;
  justify-content: space-between;
  max-width: 651px;
  margin-top: 72px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.cart_left .cart_left_buttons .clear {
  border: 1px solid #A4A4A4;
  padding: 16px 38px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  transition: 0.2s;
}
.cart_left .cart_left_buttons .continue {
  border: 1px solid #A4A4A4;
  padding: 16px 38px;
  transition: 0.2s;
}

.cart_left_buttons_hover:hover {
  color: white;
  background-color: #EF5B70;
}

.cart_pink {
  margin-bottom: 91px;
}

.review_cart {
  margin-top: 250px;
}

.cart_right .shipping {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart {
  display: flex;
}
.cart input {
  width: 360px;
  height: 45px;
  margin-bottom: 24px;
  padding-left: 16px;
}
.cart #state {
  width: 360px;
  height: 45px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}
.cart #postcode {
  width: 360px;
  height: 45px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart_right {
  margin-left: 128px;
}

#input_city {
  margin-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.quote {
  border: 1px solid #A4A4A4;
  padding: 16px 38px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 100px;
  transition: 0.3s;
}

.checkout {
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
  margin-top: 62px;
  position: relative;
}
.checkout .total {
  display: flex;
  justify-content: space-around;
  width: 108px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 39px;
  position: absolute;
  right: 34px;
}
.checkout .grand_total {
  display: flex;
  justify-content: space-around;
  width: 169px;
  margin-top: 64px;
  position: absolute;
  right: 37px;
}
.checkout .grand_total .grand {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.checkout .grand_total .grand_price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.checkout .checkout_buttom_box {
  width: 273px;
  border: 1px solid #E2E2E2;
  position: absolute;
  margin-top: 104px;
  left: 40px;
}
.checkout .checkout_buttom {
  width: 273px;
  height: 41px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: #F16D7F;
  margin-top: 122px;
  position: absolute;
  left: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.checkout .checkout_buttom:hover {
  background-color: rgb(250, 164, 164);
  border: 1px solid rgb(250, 164, 164);
}/*# sourceMappingURL=style.css.map */